body {
  min-width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: Lato,sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#logo-bar {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #333;
  min-height: 64px;
  color: #fff;
  font-size: 24px;
}

#logo {
  height: 50px;
  margin-right: 10px;
}

#search-bar {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 100%;
  height: 60px;
}

#search-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 10px 30px 0px 30px;
  width: 50%;
}

#search-input {
  border: 1px solid #ced4da;
  padding: 4px;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  transition: border-color 0.2s ease;
}

#search-input:hover {
  border-color: #444;
}

#search-input:focus {
  border-color: #999;
  outline: none;
}

#search-button {
  display: flex;
  border-color: #ced4da;
  border-width: 1px 1px 1px 0px;
  width: 100px;
  outline: none;
}

#search-button:hover {
  background-color: #ced4da
}

#search-icon {
  margin: 0px auto;
  width: 24px;
  opacity: 0.35;
}

#autocomplete {
  margin: 0px auto;
  border: 0px solid #ced4da;
  z-index: 1;
  width: 50%;
  background-color: #fff;
  white-space: nowrap;
}

#autosuggest {
  padding: 5px;
  overflow: hidden;
}

#autosuggest:hover {
  background-color: #ced4da;
}

#autosuggest:focus {
  background-color: #ced4da;
}

.address {
  color: #777;
  font-size: smaller;
}

#detail-bar {
  visibility: hidden;
  display: flex;
  overflow: auto;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  background-color: #eeeeee59;
  height: 40px;
  font-size: 14px;
}

.detail-cell {
  display: flex;
  align-items: center;
  margin: 0 10px;
  height: 100%;
}

.detail-subject {
  margin: 0 4px;
  font-weight: 500;
}

.detail-value {
  font-weight: 300;
}

#main {
  visibility: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
} 

#main-icon {
  width: 200px;
}

#main-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#summary {
  font-size: 32px;
  white-space: nowrap;
  margin: 10px 0px;
}

.temp-value {
  font-weight: 300;
  margin: 0px 5px 0px 0px; 
}

iframe {
  visibility: hidden;
}
