body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: Lato,sans-serif;
}

header {
  background-color: #eee;
  width: 100%;
  height: 45px;
}

span {
  color: #111;
}

#detail-bar {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  background-color: #eeeeee59;
  height: 40px;
  font-size: 14px;
}

.detail-cell {
  display: flex;
  align-items: center;
  margin: 0 10px;
  height: 100%;
}

.detail-subject {
  margin: 0 4px;
  font-weight: 500;
}

.detail-value {
  font-weight: 300;
}

#main {
  margin: 0 auto;
  display: flex;
  align-items: center;
} 

#main-icon {
  width: 200px;
}

#main-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#current-detail {
  font-size: 32px;
  white-space: nowrap;
  margin: 10px 0px;
}

.temp-value {
  font-weight: 300;
}

